<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">

    {% if user.is_authenticated %}
        <br>
        <h2>Welcome to webflix {{ user.first_name }} {{ user.last_name }}!</h2>
        <a target="_blank"  href= "{% url 'homepage' %}">Home Page</a>

    {% else %}
        <br>
        <br>
        <center>
        <h1 style="color: whitesmoke; font-size: 450% ">welcome to</h1>
        <br>
        <img src="static/wb.jpg" style="width: 80%;height: 50%;">
        </center>
    </div>
{% endif %}
{% endblock %}
