
{% extends 'base.html' %}

{% block title %}My List{% endblock %}

{% block content %}
    <div class="container">
      <h1>My Movies</h1>
    <br>
    <table class="table" border="3px solid oragenred" style="border-radius: 4px; border: 3px solid orangered">

      {% for movie in user.profile.movie_list.all %}
        <td style=" border: 3px solid orangered">
        <center>
            <span class="glyphicon glyphicon-film" style="font-size: 90px;"></span>
        <details>
            <summary style="font-size: 14px;">{{ movie.title }} ({{ movie.year }})</summary>
            <br>
            <p><b>Direction: </b>{{ movie.director }}</p>
            <p><b>Category: </b>{{ movie.category }}</p>
        </details>
            <br>
        <form action="{% url 'deletemovie' id=movie.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove"></span> Remove
            </button>
        </form>
        <br>
        </center>
        </td>
          {% if forloop.last %}
             </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
               </tr><tr style="border-radius: 4px; border: 3px solid orangered" >
            {% endif %}
          {% endif %}
    {% endfor %}
    </table>
    </div>
{% endblock %}