
{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <center>
    <br>
      <h2>Profile</h2>
    <br>
        <b style="color: red">Name:</b>
      <p id="searchbar" style="border: 3px solid red;">{{ user.first_name }} {{ user.last_name }}</p>
        <b style="color: red">Email:</b>
      <p id="searchbar" style="border: 3px solid red;">{{ user.email }}</p>
        <b style="color: red">Phone number:</b>
      <p id="searchbar" style="border: 3px solid red;">{{ user.profile.phone_number }}</p>
        <b style="color: red">Credit card number:</b>
      <p id="searchbar" style="border: 3px solid red;">{{ user.profile.card_number }}</p>
    </center>
    </div>
{% endblock %}